/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 500px;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.debug {
    background-color: rgba(0, 128, 0, 0.4);
}


/* recycling */

.font-w-5 {
    font-weight: 500;
}

.font-w-6 {
    font-weight: 600;
}

.font-w-7 {
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-15 {
    font-size: 15px;
}

.color-white:hover {
    color: white;
}

.background-color-white:hover {
    background-color: white;
}


/* main */

main {
    height: calc(100vh - 80px);
}

main::after {
    display: table;
    content: '';
    clear: both;
}


/* main nav */

main .main-nav {
    float: left;
    width: 230px;
    height: 100%;
    font-size: 12px;
    color: gray;
    background-color: black;
}


/* nav top */

main .main-nav .nav-top {
    height: calc(100% - 80px);
}


/* logo */

.main-nav .nav-top .logo {
    width: 100%;
    padding: 20px 20px;
}

.main-nav .nav-top .logo img {
    width: 135px;
}


/* list menu */

.main-nav .nav-top .list-menu {
    width: 100%;
    height: 100px;
    padding-left: 20px;
}

.main-nav .nav-top .list-menu .home,
.main-nav .nav-top .list-menu .search,
.main-nav .nav-top .list-menu .libreria {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.main-nav .nav-top .list-menu .home img,
.main-nav .nav-top .list-menu .search img,
.main-nav .nav-top .list-menu .libreria img {
    width: 30px;
}


/* crea playlist */

.main-nav .nav-top .crea-playlist {
    width: 100%;
    height: 40vh;
    padding: 20px 20px;
    display: inline-block;
}

.main-nav .nav-top .crea-playlist h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
    color: white;
}

.main-nav .nav-top .crea-playlist .plus-playlist {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.main-nav .nav-top .crea-playlist .plus {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: grey;
}

.main-nav .nav-top .crea-playlist .plus-playlist .fa-plus {
    display: flex;
    justify-content: center;
    line-height: 35px;
    font-size: 20px;
    color: black;
}

.main-nav .nav-top .crea-playlist ul {
    height: 100%;
    overflow-y: auto;
}

.main-nav .nav-top .crea-playlist ul li {
    list-style: none;
    line-height: 30px;
}


/* nav bottom */

main .main-nav .nav-bottom {
    position: fixed;
    width: 230px;
    height: 80px;
    padding: 10px;
    color: white;
    background-color: black;
}


/* download */

.main-nav .nav-bottom .download {
    width: 100%;
    height: 25px;
    color: gray;
    border-bottom: 1px solid gray;
}

.main-nav .nav-bottom .download img {
    max-width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}


/* profile */

.main-nav .nav-bottom .profile {
    width: 100%;
    height: 55px;
    padding: 10px 0;
}

.main-nav .nav-bottom .profile .image {
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.main-nav .nav-bottom .profile p {
    display: inline-block;
    font-size: 14px;
}


/* content */

main #content {
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    color: white;
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}


/* call to action */

main #content .call-to-action {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 230px);
    height: 80px;
    text-transform: uppercase;
    padding-right: 5px;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}

main #content .call-to-action p {
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 50px;
}

main #content .call-to-action p:hover {
    font-size: 13px;
    padding: 11px 26px;
}


/* covers */

#content .covers {
    margin-top: 80px;
    padding: 20px;
}


/* list-inline */

#content .covers .list-inline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#content .covers .list-inline li {
    display: inline;
    padding-bottom: 15px;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
}

#content .covers .list-inline li:hover {
    cursor: pointer;
    color: white;
}


/* playlist */


/* recently played */

.playlist .recently-played h2 {
    margin-bottom: 20px;
}

.playlist .recently-played .list-image {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.playlist .recently-played .list-image li {
    width: 170px;
    height: 230px;
    margin-left: 5px;
    display: inline-block;
    list-style: none;
}

.playlist .recently-played .list-image li .image {
    width: 140px;
    height: 140px;
    margin: auto;
    margin-bottom: 8px;
}

.playlist .recently-played .list-image li .image img {
    max-width: 100%;
}

.playlist .recently-played .list-image li .text {
    text-align: center;
}

.playlist .recently-played .list-image li .text h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.playlist .recently-played .list-image li .text p {
    font-size: 12px;
    font-weight: 600;
    color: gray;
}


/* creato per john doe */


/* footer */

footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
}

footer #player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* footer left */

.footer-left {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.footer-left img {
    width: 40px;
    height: 40px;
    margin: 5px;
}


/* footer playlist */

.footer-left .footer-playlist h4 {
    display: flex;
    font-size: 12px;
    color: white;
}

.footer-left .footer-playlist p {
    font-size: 10px;
    margin-right: 30px;
    color: gray;
}

.footer-left .footer-playlist p:hover {
    text-decoration: underline white;
}


/* footer play */

.footer-left .footer-play {
    color: gray;
}

.footer-left .footer-play .fa-heart {
    margin-right: 10px;
}

.footer-left .footer-play .fa-heart:hover,
.footer-left .footer-play .fa-folder:hover {
    color: white;
}


/* footer center */

.footer-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


/* footer audio */

.footer-center .footer-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-center .footer-audio i {
    margin: 0 10px;
    font-size: 12px;
    color: white;
}

.footer-center .footer-audio .fa-play-circle {
    font-size: 25px;
    margin: 0 20px;
}

.footer-center .footer-audio .fa-play-circle:hover {
    font-size: 27px;
    margin: 0 19px;
    margin-bottom: -1px;
}


/* footer scroll bar */

.footer-center .scroll-bar {
    display: flex;
    align-items: center;
}

.footer-center .scroll-bar .time {
    font-size: 8px;
    font-weight: 700;
    margin: 0 10px;
    color: white;
}

.scroll-bar .row-background {
    width: 350px;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

.row-background .row,
.row-background-litle .row {
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(193, 193, 193);
}

.row-background .row:hover,
.row-background-litle .row:hover {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(121, 169, 42);
}

.row-background .row:hover .ball,
.row-background-litle .row:hover .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}


/* footer right */

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 11px;
    padding: 10px;
    color: white;
}

.menu-hamburger {
    display: flex;
    align-items: center;
}

.menu-hamburger .fa-ellipsis-v {
    margin: 0;
    font-size: 9px;
}

.menu-hamburger .fa-bars {
    margin: 0;
    margin-right: 10px;
}

.footer-right i {
    margin: 0 10px;
}

.row-background-litle {
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}


/* media querry */

@media screen and (max-width: 768px) {
    /* main */
    /* main nav */
    main .main-nav {
        width: 50px;
    }
    /* nav top */
    main .main-nav {
        background-color: black;
    }
    /* logo */
    main .main-nav .nav-top .logo {
        width: 80%;
        height: 40px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: url(../img/logo-small.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-nav .nav-top .logo img {
        display: none;
    }
    /* list menu */
    .main-nav .nav-top .list-menu {
        padding-left: 10px;
    }
    .main-nav .nav-top .list-menu span {
        display: none;
    }
    .main-nav .nav-top .list-menu .home,
    .main-nav .nav-top .list-menu .search,
    .main-nav .nav-top .list-menu .libreria {
        width: 100%;
        height: 30px;
    }
    .main-nav .nav-top .list-menu .home img,
    .main-nav .nav-top .list-menu .search img,
    .main-nav .nav-top .list-menu .libreria img {
        width: 30px;
    }
    /* crea playlist */
    .main-nav .nav-top .crea-playlist {
        display: none;
    }
    /* nav bottom */
    main .main-nav .nav-bottom {
        position: fixed;
        text-align: center;
        width: 50px;
    }
    /* download */
    .main-nav .nav-bottom .download {
        border: none;
    }
    .nav-bottom .download span {
        display: none;
    }
    /* /main nav */
    /* call to action */
    main #content {
        width: calc(100% - 50px);
    }
    main #content .call-to-action {
        width: calc(100% - 50px);
    }
    /* /main */
    /* footer */
    footer #player {
        justify-content: center;
    }
    /* footer left */
    .footer-left {
        padding: 0;
    }
    .footer-left img {
        width: 25px;
        height: 25px;
        margin: 5px;
    }
    .footer-left .footer-playlist h4 {
        font-size: 8px;
    }
    .footer-left .footer-playlist p {
        font-size: 6px;
        margin-right: 20px;
    }
    .footer-left .footer-play {
        font-size: 10px;
    }
    .footer-left .footer-play .fa-heart {
        display: block;
    }
    .footer-playlist p span {
        display: block;
    }
    /* footer center */
    .footer-center .footer-audio i {
        font-size: 10px;
        margin: 0 8px;
    }
    .footer-center .footer-audio .fa-play-circle {
        font-size: 16px;
        margin: 0 10px;
    }
    .footer-center .scroll-bar .time {
        font-size: 6px;
    }
    .footer-center .scroll-bar .row-background {
        width: 70px;
        height: 3px;
    }
    /* footer right */
    .footer-right {
        font-size: 8px;
        padding: 5px;
    }
    .footer-right i {
        margin: 0 3px;
    }
    .menu-hamburger .fa-ellipsis-v {
        font-size: 7px;
    }
    .menu-hamburger .fa-bars {
        margin-right: 5px;
    }
    .row-background-litle {
        width: 50px;
        margin-right: 0;
        height: 3px;
    }
    /* /footer */
}